 <section class="form-container align-center">
     <%= bootstrap_form_tag rider: riders_path, method: :get do |f| %>
       <%= f.text_field :search, placeholder: "Search videos...",
                        hide_label: true, value: params[:search],
                        autofocus: true, wrapper: { class: "float-left" } %>
       <%= link_to "Clear", riders_path, class: "btn btn-primary" %>
       <br style="clear: both;">
     <% end %>
 </section>
