<h1>Riders Like Me</h1>
<div class="jumbotron">
  <h4><%= @notice %></h4>
  <div class="container">
    <img class="center-block" src="https://s-media-cache-ak0.pinimg.com/236x/42/1a/97/421a9706bd6bb340225656a9619ee207.jpg" alt="Adventure Riding">
  </div>
</div>
<h2>
  Connecting riders to meet and ride with,
  based on interest.
</h2>
