
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.thumbnail {
  background-color: lightgray;
  border: 1px solid black;
}

.jumbotron {
  padding-top: 5px;
}
.container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-radius: 9px;
}

.my-nav {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h5 {
  text-align: center;
}

.profile-photo {
  width: 100%;
  border: 2px solid black;
  border-radius: 9px;
}

#profiles {
  max-width: 240px;
}

body {
  padding: 20px;
  margin: 20px !important;
  background-color: 0000;
  background-size: 100%;
  background-repeat: no-repeat;
}

.photo_input {
  display: inline-block;
  width: 100px;
}

.authorize {
  text-align: center;
}

.comments {
  width: 100%;
}

.btn {
  margin: 8px;
  justify-content: auto;
}

#edit_buttons {
  display: flex;
  padding: 10px;
  color: black;
}

.edit {
  min-width: 64px;
}

div.panel {
  padding-top: 0;
}
