<!DOCTYPE html>
<html>
<head>
  <title>RidersLikeMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<h1><ul class="nav navbar-nav">
  <ul class="active">
    <a href="#">Home</a>
    <a href="#">Search</a>
        <!-- Riders Like Me -->
    <a href="#">Sign Up</a>
    <a href="#">Log In</a>
</ul></ul></h1>
<body>

<%= yield %>

</body>
</html>
