<!DOCTYPE html>
<html>
<head>
  <title>Riders Like Me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="home">Home</a>
      </li>
      <li>
        <a href="sign up">Search</a>
      </li>
        <!-- Riders Like Me -->
      <li>
        <a href="#">Sign Up</a>
      </li>
      <li>
        <a href="#">Log In</a>
      </li>
    </ul>
  </header>




<%= yield %>

</body>
</html>
